<template>
    <div v-if="invitation" class="invitation column-block">
        <img class="invitation__picture" src="/img/main/exclamation.svg" alt="">
        <span class="invitation__title">{{ invitation.title }}</span>

        <div class="control-buttons row-block">
            <div
            class="control-button"
            v-for="button of invitation.buttons"
            :key="button">{{ button }}</div>
        </div>
    </div>
</template>

<style lang="scss">
    @import '@/assets/styles/mixins/main';
    @import "@/assets/styles/templates";
    @import "@/assets/styles/animation";

    .invitation {
        @extend %content-center;
        z-index: 10;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-top: vh(33px);
        width: vh(500px);
        height: vh(332px);
        background-color: rgba(black, 0.5);
        border-radius: vh(8px);

        &__picture {
            width: vh(96px);
            height: vh(96px);
        }

        &__title {
            @include font(Montserrat, 900, normal, vh(32px));
            color: white;
            text-align: center;
            margin-top: vh(20px);
        }

        .control-buttons {
            margin-top: vh(24px);

            .control-button {
                @include font(Montserrat, normal, normal, vh(16px));
                @extend %content-center;
                margin-right: vh(10px);
                border: vh(1px) solid #FF0A0A;
                padding: 0 vh(20px);
                min-height: vh(44px);
                color: #FF0A0A;
                border-radius: vh(4px);
                cursor: pointer;

                &:hover {
                    background-color: #FF0A0A;
                    color: white;
                }
            }
        }
    }
</style>

<script>
import { useStore } from 'vuex';
import { computed } from 'vue';

export default {
  setup() {
    const store = useStore();
    const invitation = computed(() => store.state.main.invitation);

    return {
      invitation,
    };
  },
};
</script>
