<div class="auth full-width full-height">

    <div class="auth-main column-block">
        <header :class="{ 'no-background': currentPage === 'auth' }" class="row-block full-width">
            <div class="shadow full-width full-height"></div>

            <div class="content align-center full-width full-height justify-between">
                <div>
                    <div v-if="playerData == null && currentPage !== 'auth'" @click="setPage('auth')" class="auth-button">Войти на сервер</div>

                    <template v-if="playerData">
                        <div v-if="currentPage === 'play'" class="category align-center">
                            <img src="/img/auth/icons/play.svg" class="category__picture" alt="">
                            <span class="category__text align-center">Играть</span>
                        </div>
    
                        <div v-else-if="currentPage === 'lobby'" class="category align-center">
                            <img src="/img/auth/icons/lobby.svg" class="category__picture" alt="">
                            <span class="category__text align-center">Лобби</span>

                            <div class="time-in-lobby row-block">
                                <span>Вы находитесь в лобби:</span>
                                <span>0:46</span>
                            </div>
                        </div>

                        <div v-else-if="currentPage === 'character'" class="category align-center">
                            <img src="/img/auth/icons/character.svg" class="category__picture" alt="">
                            <span class="category__text align-center">Персонаж</span>
                        </div>

                        <div v-else-if="currentPage === 'fraction'" class="category align-center">
                            <img src="/img/auth/icons/fraction.svg" class="category__picture" alt="">
                            <span class="category__text align-center">Фракция</span>
                        </div>

                        <div v-else-if="currentPage === 'settings'" class="category align-center">
                            <img src="/img/auth/icons/settings.svg" class="category__picture" alt="">
                            <span class="category__text align-center">Настройки</span>
                        </div>

                        <div v-else-if="currentPage === 'duels'" class="category align-center">
                            <img src="/img/auth/icons/duels.svg" class="category__picture" alt="">
                            <span class="category__text align-center">Дуэли</span>
                        </div>

                        <div v-else-if="currentPage === 'shop'" class="category align-center">
                            <img src="/img/auth/icons/shop.svg" class="category__picture" alt="">
                            <span class="category__text align-center">Магазин</span>
                        </div>
                    </template>
                </div>

                <div class="row-block align-center full-height">
                    <div v-if="currentPage === 'shop'" class="balance row-block align-center">
                        <div class="buy-coins">+</div>
                        <span class="balance__text">Ваш баланс:</span>
                        <span class="balance__text-highlighted">2000</span>
                        <span class="balance__text">AVGC</span>

                        <div class="circle"></div>
                    </div>

                    <div class="online">
                        <span class="online__text">Онлайн:</span>
                        <span class="online__text-amount">{{ online }}</span>
                        <span class="online__text">из</span>
                        <span class="online__text">{{ maxOnline }}</span>
                    </div>

                    <div class="circle"></div>

                    <div class="drop-menu full-height align-center">
                        <div @click="changeHeadDropState" class="head align-center row-block">
                            <img 
                            :class="{ 'rotated': dropShowed }" 
                            class="head__picture-arrow" 
                            src="/img/auth/arrow.svg" alt="">
                            <img class="head__picture-logo" src="/img/auth/logo.png" alt="">
                        </div>

                        <div v-if="dropShowed" class="body full-width">
                            <div
                            :class="{ 'selected': currentPage === item.page }"
                            v-for="item of headList"
                            @click="setPage(item.page), changeHeadDropState()" 
                            class="body-item align-center justify-end">{{ item.title }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <main class="full-width full-height">
            <div v-if="selectedShopItem" class="certain-shop-item full-width full-height">
                <div @click="setPage('shop')" class="back row-block">
                    <img class="back__picture" src="/img/auth/icons/back.svg" alt="">
                    <span class="back__title">Вернуться назад</span>
                </div>

                <div class="row-block">
                    <img class="certain-shop-item__picture" src="/img/auth/icons/coin.svg" alt="">

                    <div class="donate-item-content column-block align-end">
                        <span class="donate-item-content__title">{{ selectedShopItem.title }}</span>
                        <span class="donate-item-content__text">{{ selectedShopItem.description }}</span>

                        <div class="price row-block">
                            <span class="price__text-price">{{ selectedShopItem.price }}</span>
                            <span class="price__text-unit">AVGC</span>
                        </div>

                        <div class="buy-button">Купить</div>
                    </div>
                </div>
            </div>

            <div v-else-if="currentPage === 'updates'" class="updates-page full-height full-width column-block">
                <div class="updates-page__title">Обновления</div>

                <div class="items row-block full-width full-height">
                    <div class="big-container column-block">
                        <div 
                        class="big-container__picture full-width" 
                        :style="{ 'background-image': `url(/img/auth/news/${ updates[0].picture }.png)` }"></div>

                        <div class="container-header row-block full-width justify-between">
                            <div class="column-block">
                                <span class="container-header__title">{{ updates[0].title }}</span>

                                <div class="post-date row-block align-center">
                                    <div class="post-date__figure"></div>
                                    <span class="post-date__text">{{ updates[0].date }}</span>
                                </div>
                            </div>

                            <div class="container-header__button">Читать</div>
                        </div>

                        <div class="container-text full-width">{{ updates[0].text }}</div>
                    </div>

                    <div class="default-items row-block">
                        <template v-for="item of updates.slice(1, updates.length)">
                            <news-card :item="item" />
                        </template>
                    </div>
                </div>
            </div>

            <div v-else-if="currentPage === 'auth'" class="auth-page full-height full-width row-block">
                <div class="background full-width full-height"></div>

                <div class="content row-block full-width full-height align-start">
                    <div v-if="authMethod === 'auth'" class="column-block align-center">
                        <img src="/img/auth/logo.png" class="content__picture" alt="">
                        <span class="content__title">Авторизация</span>

                        <div class="column-block">
                            <div class="input-block align-center">
                                <input type="text" placeholder="* Логин" class="input-block__input" v-model="login" autocomplete="off">
                                <img class="input-block__icon" src="/img/auth/icons/login.svg" alt="">
                            </div>

                            <div class="input-block align-center">
                                <input type="text" placeholder="* E-mail" class="input-block__input" v-model="email" autocomplete="off">
                                <img class="input-block__icon" src="/img/auth/icons/email.svg" alt="">
                            </div>
                        </div>

                        <div class="control-buttons row-block">
                            <div class="control-buttons__button">Войти</div>
                            <div @click="setAuthMethod('register')" class="control-buttons__button">Регистрация</div>
                        </div>
                    </div>

                    <div v-else class="register column-block align-center">
                        <img src="/img/auth/logo.png" class="content__picture" alt="">
                        <span class="content__title">Регистрация</span>

                        <div class="column-block">
                            <div class="input-block align-center">
                                <input type="text" placeholder="* Логин" class="input-block__input" v-model="login" autocomplete="off">
                                <img class="input-block__icon" src="/img/auth/icons/login.svg" alt="">
                            </div>

                            <div class="input-block align-center">
                                <input type="text" placeholder="* E-mail" class="input-block__input" v-model="email" autocomplete="off">
                                <img class="input-block__icon" src="/img/auth/icons/email.svg" alt="">
                            </div>

                            <div class="input-block align-center">
                                <input type="password" placeholder="* Пароль" class="input-block__input" v-model="password" autocomplete="off">
                                <img class="input-block__icon" src="/img/auth/icons/password.svg" alt="">
                            </div>

                            <div class="input-block align-center">
                                <input type="password" placeholder="* Подтверждение пароля" class="input-block__input" v-model="repeatPassword" autocomplete="off">
                                <img class="input-block__icon" src="/img/auth/icons/password.svg" alt="">
                            </div>

                            <div class="input-block align-center">
                                <input type="text" placeholder="* Промо-код" class="input-block__input" v-model="promo" autocomplete="off">
                                <img class="input-block__icon" src="/img/auth/icons/password.svg" alt="">
                            </div>
                        </div>

                        <div class="control-buttons justify-center row-block">
                            <div @click="setAuthMethod('auth')" class="control-buttons__button">Авторизация</div>
                            <div class="control-buttons__button">Войти</div>
                        </div>
                    </div>

                    <div class="last-news column-block">
                        <span class="last-news__title">Последние новости</span>
                        <div class="row-block">
                            <template v-for="i in 2">
                                <news-card :item="updates[i - 1]" />
                            </template>
                        </div>
                    </div>
                </div>
            </div>

            <div v-else-if="currentPage === 'play'" class="play-page full-height full-width column-block">
                <div class="play-page__title">Выберите режим игры</div>

                <div class="game-modes row-block">
                    <div class="list row-block" v-for="list of chunkList(gameModes)" :key="`${ list.id }`">
                        <div class="item row-block" v-for="item of list.items">
                            <div class="item-content row-block align-center">
                                <div class="item-content__text-id align-center">{{ item.id }}</div>

                                <div class="main-content column-block">
                                    <span class="main-content__title">{{ item.title }}</span>
                                    <img class="main-content__picture" :src="`/img/auth/modes/${ item.icon }.svg`" alt="">
                                    <span class="main-content__text">{{ item.type }}</span>
                                    <span class="main-content__text">{{ item.place }}</span>
                                </div>

                                <div class="gradient full-height"></div>
                                <div class="play">
                                    <img src="/img/auth/white-play.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div v-else-if="currentPage === 'lobby'" class="lobby-page full-height full-width column-block">

                <div class="main-content row-block full-width full-height">
                    <div class="teams full-height column-block">
                        <div class="members full-width full-height column-block">
                            <span class="teams__title">Команда №1</span>
                            <span class="teams__text-amount">1 из 200</span>

                            <div class="progress row-block">
                                <div class="progress-item" :class="{ 'active': i <= teams.members.progress }" v-for="i in 20"></div>
                            </div>

                            <div class="teams-list row-block">
                                <div class="player-tile" v-for="i of 6">
                                    <span v-if="i - 1 > teams.members.players.length - 1" class="no-player">+</span>

                                    <template v-else>
                                        <div
                                        class="player-tile__picture-icon"
                                        :style="{ 'background-image': `url(${ teams.members.players[i - 1].icon })` }"></div>

                                        <div class="cross flex-block">
                                            <img src="/img/auth/icons/cross.svg" alt="">
                                        </div>
                                    </template>
                                </div>
                            </div>

                            <div class="control-panel row-block">
                                <input type="text" class="control-panel__input" placeholder="* ID пользователя" v-model="playerId">
                                <span class="control-panel__button send">Отправить</span>
                                <span class="control-panel__button ready">Готов!</span>
                            </div>
                        </div>

                        <div class="opponent full-width full-height column-block">
                            <span class="teams__title">Команда №2</span>
                            <span class="teams__text-amount">1 из 200</span>

                            <div class="progress row-block">
                                <div class="progress-item" :class="{ 'active': i <= teams.opponent.progress }" v-for="i in 20"></div>
                            </div>

                            <div class="teams-list row-block">
                                <div class="player-tile" v-for="i of 6">
                                    <span v-if="i - 1 > teams.opponent.players.length - 1" class="no-player">+</span>

                                    <template v-else>
                                        <div
                                        class="player-tile__picture-icon"
                                        :style="{ 'background-image': `url(${ teams.opponent.players[i - 1].icon })` }"></div>

                                        <div class="cross flex-block">
                                            <img src="/img/auth/icons/cross.svg" alt="">
                                        </div>
                                    </template>
                                </div>
                            </div>

                            <span class="opponent__text-hint">Команда противника ещё не собрана...</span>
                        </div>
                    </div>

                    <div class="chat full-width full-height column-block align-center">
                        <div class="chat__title full-width">Чат</div>

                        <div ref="messagesContainer" class="messages column-block full-width">
                            <span v-for="text of chat" class="messages__text">{{ text }}</span>
                        </div>

                        <div class="message-input align-center">
                            <input type="text" class="message-input__input" v-model="message" placeholder="* Напишите сообщение...">
                            <div class="message-input__icon">
                                <img src="/img/auth/icons/send.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="control-buttons row-block">
                    <div class="control-button row-block">
                        <img src="/img/auth/icons/settings.svg" alt="" class="control-button__icon">
                        <span>Настройки лобби</span>
                    </div>
                    <div class="control-button">Запустить</div>
                    <div class="control-button">Удалить лобби</div>
                    <div class="control-button">Покинуть лобби</div>
                </div>
            </div>

            <div v-else-if="currentPage === 'character'" class="character-page full-height full-width row-block">
                <div v-for="i in 4" class="character-item full-width">
                    <div class="character-item__picture"></div>

                    <div class="gradient full-width full-height"></div>

                    <div class="content column-block">
                        <div class="cloth-info row-block align-center">
                            <img class="cloth-info__picture" src="/img/auth/logo.png" alt="">
                            <span class="cloth-info__text">Сохранить одежду</span>
                        </div>

                        <div class="select">Выбрать</div>
                    </div>
                </div>
            </div>

            <div v-else-if="currentPage === 'fraction'" class="fraction-page full-height full-width column-block align-center">
                <div class="fraction-title">
                    <span>Выберите</span>
                    <span>фракцию</span>
                </div>

                <div class="row-block full-width justify-center">
                    <div v-for="i in 2" class="fraction-item full-width">
                        <div class="fraction-item__picture"></div>
    
                        <div class="gradient full-width full-height"></div>
    
                        <div class="content column-block">
                            <div class="fraction-info row-block align-center">
                                <img class="fraction-info__picture" src="/img/auth/logo.png" alt="">
                                <span class="fraction-info__text">Наименование фракции</span>
                            </div>
    
                            <div class="select">Выбрать</div>
                        </div>
                    </div>
                </div>

                <div @click="setPage('play')" class="back">Назад</div>
            </div>

            <div v-else-if="currentPage === 'settings'" class="settings-page full-width full-height column-block">
                <div class="row-block">
                    <div 
                    class="setting-page-button" 
                    @click="setSettingsPage('main')" 
                    :class="{ 'selected': settingsPage === 'main' }">Основные настройки</div>

                    <div 
                    class="setting-page-button" 
                    @click="setSettingsPage('chat')"
                    :class="{ 'selected': settingsPage === 'chat' }">Настройки чата</div>
                </div>

                <div v-if="settingsPage === 'chat'" class="chat-page column-block full-width">
                    <div class="input-container column-block justify-end" v-for="input of chatSettings">
                        <span class="input-container__title">{{ input.title }}</span>
                        <div class="row-block">
                            <input type="number" class="input-container__input" placeholder="Введите..." v-model="input.model">
                            <div class="input-container__button">Применить</div>
                        </div>
                    </div>
                    
                    <div class="reset column-block">
                        <span class="reset__title">Нажмите, чтобы сбросить настройки</span>
                        <div class="reset__button">Сбросить</div>
                    </div>
                </div>
            </div>

            <div v-else-if="currentPage === 'duels'" class="duels-page full-width full-height column-block">
                <div class="duels-header row-block full-width justify-between">
                    <div class="invite-opponent row-block align-start">
                        <div class="invite-block">+</div>
                        <span class="invite-opponent__text">Пригласить игрока</span>
                    </div>

                    <div class="choose-weapon">Выберите оружие</div>

                    <div class="filter align-center">
                        <input type="text" class="filter__input" placeholder="Поиск...">
                        <img class="filter__picture" src="/img/auth/icons/filter.svg" alt="">
                    </div>
                </div>

                <div class="lobbies row-block">
                    <div class="list row-block" v-for="list of chunkList(lobbies)" :key="`${ list.id }`">
                        <div class="item row-block" v-for="item of list.items">
                            <div class="item-content row-block align-center">
                                <div class="item-content__picture align-center" :style="{ 'background-image': `url(${ item.img })` }"></div>

                                <div class="main-content column-block">
                                    <span class="main-content__title">{{ item.title }}</span>
                                    <img class="main-content__picture" :src="`/img/auth/modes/${ item.icon }.svg`" alt="">
                                    <span class="main-content__text">{{ item.type }}</span>
                                    <span class="main-content__text">{{ item.place }}</span>
                                </div>

                                <div class="gradient full-height"></div>
                                <div class="play">
                                    <img src="/img/auth/white-play.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div v-else-if="currentPage === 'shop'" class="shop-page full-width full-height column-block">
                <div class="shop-header row-block">
                    <div class="categories row-block">
                        <div
                        @click="setShopCategory(category.path)"
                        class="categories__button"
                        v-for="category of donate.categories"
                        :class="{ 'selected': category.path === shopPage }">Название категории</div>
                    </div>

                    <div class="filter align-center">
                        <input type="text" class="filter__input" placeholder="Поиск...">
                        <img class="filter__picture" src="/img/auth/icons/filter.svg" alt="">
                    </div>
                </div>

                <div class="shop-items row-block">
                    <div v-for="item of donate.categoryItems" class="shop-item row-block">
                        <div class="coin-icon">
                            <img class="coin-icon__picture" src="/img/auth/icons/coin.svg" alt="">
                        </div>

                        <div class="content column-block full-width full-height align-end">
                            <span class="content__title">{{ item.title }}</span>
                            <span class="content__text-category">{{ item.category }}</span>

                            <div class="buy-info column-block align-end">
                                <span class="buy-info__text">{{ item.price }} AVGC</span>
                                <div @click="selectShopItem(item)" class="buy-info__button">Купить</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>