@import '@/assets/styles/mixins/main';
@import "@/assets/styles/templates";
@import "@/assets/styles/animation";

.auth {
    @extend %absolute;
    @extend %content-center;

    &-main {
        width: vh(1332px);
        height: vh(766px);
        background-color: black;

        header {
            min-height: vh(64px);
            z-index: 5;
            position: relative;
            background: {
                image: url('/img/auth/header.png');
                size: cover;
                position: center;
            }

            &.no-background {
                background-image: none;
            }

            .shadow {
                @extend %absolute;
                background-color: rgba(black, 0.75);
                z-index: 1;
            }

            .content {
                @extend %absolute;
                z-index: 2;
                padding: 0 vh(23px) 0 vh(45px);

                .auth-button {
                    @include font(Montserrat, normal, normal, vh(12px));
                    @extend %content-center;
                    width: vh(148px);
                    height: vh(36px);
                    border: vh(1px) solid #FD0225;
                    color: white;
                    cursor: pointer;
                }

                .category {
                    &__picture {
                        width: vh(32px);
                        height: vh(25px);
                    }

                    &__text {
                        @include font(Montserrat, 500, normal, vh(18px));
                        margin-left: vh(11px);
                        color: white;
                    }

                    .time-in-lobby {
                        margin-left: vh(14px);

                        span {
                            @include font(Montserrat, 500, normal, vh(12px));

                            &:first-child {
                                color: rgba(white, 0.27);
                            }

                            &:last-child {
                                color: #FD0225;
                                margin-left: vh(4px);
                            }
                        }
                    }
                }
 
                .online {
                    @include font(Montserrat, 500, normal, vh(12px));

                    &__text {
                        color: rgba(white, 0.27);
                        margin-right: vh(4px);

                        &:last-child {
                            margin-right: 0;
                        }

                        &-amount {
                            color: #FD0225;
                            margin-right: vh(5px);
                        }
                    }
                }

                .circle {
                    min-width: vh(7px);
                    min-height: vh(7px);
                    border-radius: 50%;
                    margin-left: vh(16px);
                    background-color: #FD0225;
                    box-shadow: 0 0 vh(13px) vh(2px) #FD0225;
                }

                .drop-menu {
                    margin-left: vh(16px);
                    background-color: #111111;
                    position: relative;

                    .head {
                        cursor: pointer;
                        padding: 0 vh(22px) 0 vh(29px);

                        &__picture {
                            &-arrow {
                                width: vh(13px);
                                height: vh(7.27px);

                                &.rotated {
                                    transform: rotate(180deg);
                                }
                            }

                            &-logo {
                                width: vh(55px);
                                height: vh(55px);
                                filter: drop-shadow(0 0 vh(15px) #FD0225);
                            }
                        }
                    }

                    .body {
                        width: vh(204px);
                        background-color: #111111;
                        position: absolute;
                        top: 100%;
                        right: 0;

                        &-item {
                            @include font(Montserrat, 900, normal, vh(14px));
                            min-height: vh(42px);
                            margin: vh(8px) 0;
                            color: rgba(white, 0.18);
                            cursor: pointer;
                            padding-right: vh(26px);

                            &.selected {
                                color: white;
                                border-right: vh(3px) solid #FD0225;
                                background-image: linear-gradient(to right,transparent, transparent, rgba(#FD0225, 0.5));
                            }
                        }
                    }
                }

                .balance {
                    margin-right: vh(45px);

                    .buy-coins {
                        @include font(Montserrat, 500, normal, vh(18px));
                        @extend %content-center;
                        color: white;
                        border: vh(1px) solid rgba(white, 0.17);
                        width: vh(42px);
                        height: vh(42px);
                        cursor: pointer;
                        margin-right: vh(8px);
                    }

                    &__text {
                        @include font(Montserrat, 500, normal, vh(12px));
                        color: rgba(white, 0.27);

                        &-highlighted {
                            @include font(Montserrat, 500, normal, vh(12px));
                            color: #FD0225;
                            margin: 0 vh(4px);
                        }
                    }
                }
            }
        }

        main {
            .updates-page {
                padding-top: vh(25px);

                &__title {
                    @include font(Montserrat, 500, normal, vh(24px));
                    color: white;
                    margin-left: vh(45px);
                }

                .items {
                    @include scrollbar(vh(3px), transparent, #FD0225);
                    max-height: vh(623px);
                    margin-top: vh(25px);
                    padding-left: vh(61px);
                    overflow-y: auto;

                    .big-container {
                        min-width: vh(484px);
                        max-width: vh(484px);

                        &__picture {
                            min-height: vh(273px);
                            background: {
                                position: center;
                                repeat: no-repeat;
                                size: cover;
                            };
                        }

                        .container-header {
                            margin-top: vh(18px);

                            &__title {
                                @include font(Montserrat, 900, normal, vh(18px));
                                color: white;
                            }

                            &__button {
                                @include font(Montserrat, 500, normal, vh(12px));
                                @extend %content-center;
                                color: white;
                                width: vh(109px);
                                min-height: vh(15px);
                                border-radius: vh(18px);
                                border: vh(2px) solid #FD0225;
                                cursor: pointer;
                            }

                            .post-date {
                                margin-top: vh(2px);

                                &__figure {
                                    width: vh(4px);
                                    height: vh(4px);
                                    border-radius: 50%;
                                    background-color: #FD0225;
                                }

                                &__text {
                                    @include font(Montserrat, 500, normal, vh(12px));
                                    color: rgba(white, 0.14);
                                    margin-left: vh(5px);
                                }
                            }
                        }

                        .container-text {
                            @include font(Montserrat, 500, normal, vh(11px));
                            margin-top: vh(15px);
                            mask-image: linear-gradient(to bottom, black, transparent 90%);
                            color: rgba(white, 0.3);
                            line-height: vh(20px);
                        }
                    }

                    .default-items {
                        margin-left: vh(10px);
                        flex-wrap: wrap;


    
                    }
                }
            }

            .auth-page {
                background-color: black;
                position: relative;

                .background {
                    @extend %absolute;
                    background: {
                        repeat: no-repeat;
                        size: cover;
                        position: center;
                        image: url('/img/auth/auth-page.png');
                    };
                }

                .content {
                    padding-top: vh(26px);
                    padding-left: vh(87px);
                    z-index: 2;

                    .register {
                        margin-top: vh(-24px);
                    }

                    .input-block {
                        position: relative;
                        margin-top: vh(15px);

                        &:first-child {
                            margin-top: vh(33px);
                        }

                        &__input {
                            @include font(Montserrat, 500, italic, vh(12px));
                            color: white;
                            width: vh(330px);
                            height: vh(43px);
                            border-radius: vh(8px);
                            border: vh(1px) solid rgba(white, 0.25);
                            background-color: #0D0D0D;
                            padding: 0 vh(40px) 0 vh(18px);
    
                            &:focus {
                                border-color: #FD0225;
                            }
                        }

                        &__icon {
                            width: vh(32px);
                            height: vh(32px);
                            position: absolute;
                            right: vh(8px);
                        }
                    }

                    &__picture {
                        width: vh(265px);
                        height: vh(265px);
                        filter: drop-shadow(0 0 vh(55px) #FD0225);
                    }

                    &__title {
                        @include font(Montserrat, 900, normal, vh(24px));
                        color: white;
                        margin-top: vh(-15px);
                    }



                    .control-buttons {
                        margin-top: vh(29px);

                        &__button {
                            @include font(Montserrat, 500, normal, vh(14px));
                            @extend %content-center;
                            color: white;
                            width: vh(162px);
                            height: vh(45px);
                            border: vh(1px) solid #FD0225;
                            cursor: pointer;

                            &:last-child {
                                margin-left: vh(6px);
                            }
                        }
                    }

                    .last-news {
                        position: absolute;
                        right: vh(47px);

                        &__title {
                            @include font(Montserrat, 900, normal, vh(24px));
                            color: white;
                            margin-bottom: vh(38px);
                        }
                    }
                }
            }

            .play-page {
                padding: vh(31px) 0 vh(57px) vh(47px);

                &__title {
                    @include font(Montserrat, 900, normal, vh(24px));
                    color: white;
                }

                .game-modes {
                    @include scrollbar(vh(4px), #2D2D2D, #FD0225);
                    overflow-y: hidden;
                    overflow-x: auto;
                    width: vh(1213px);
                    margin-top: vh(31px);
                    padding-bottom: vh(56px);

                    .list {
                        min-width: vh(1213px);
                        flex-wrap: wrap;
                        align-content: flex-start;
                        margin-right: vh(29px);

                        &:last-child {
                            margin-right: 0;
                        }
                    }

                    .item {
                        $width: 384px;
                        $heght: 110px;
                        opacity: 0.5;
                        transition: opacity ease .2s;
                        margin-right: vh(29px);
                        margin-top: vh(18px);
                        
                        &:nth-child(3n) {
                            margin-right: 0;
                        }

                        &:first-child, &:nth-child(2), &:nth-child(3) {
                            margin-top: 0;
                        }

                        &:hover {
                            opacity: 1;
                        }

                        @extend %content-center;
                        width: vh($width);
                        height: vh($heght);
                        background-image: linear-gradient(to right top, rgba(#FD0225, 0.2), transparent 60%);

                        .item-content {
                            width: vh($width - 2.5px);
                            height: vh($heght - 2px);
                            background-color: #121212;
                            position: relative;

                            .gradient {
                                width: vh(146px);
                                position: absolute;
                                right: 0;
                                background-image: linear-gradient(to right, transparent, #780011 120%);
                            }

                            .play {
                                position: absolute;
                                right: vh(26px);
                                z-index: 2;
                                width: vh(42px);
                                height: vh(47px);
                                opacity: 0.14;
                                transition: opacity ease .2s;
                                cursor: pointer;

                                &:hover {
                                    opacity: 1;
                                }

                                img {
                                    width: inherit;
                                    height: inherit;
                                }
                            }

                            &__text-id {
                                @include font(Montserrat, 500, normal, vh(64px));
                                height: vh(94px);
                                border-right: vh(1px) solid #222222;
                                padding: 0 vh(30px) 0 vh(33px);
                                color: #232323;
                            }

                            .main-content {
                                margin-left: vh(16px);

                                &__title {
                                    @include font(Montserrat, 900, normal, vh(14px));
                                    color: white;
                                }

                                &__picture {
                                    height: vh(16px);
                                    width: vh(32px);
                                    margin-bottom: vh(15px);
                                    margin-top: vh(3px);
                                }

                                &__text {
                                    @include font(Montserrat, 900, normal, vh(11px));
                                    color: rgba(white, 0.23);

                                    &:last-child {
                                        margin-top: vh(3px);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .lobby-page {
                padding: 0 vh(20px);

                .main-content {
                    .teams {
                        min-width: vh(646px);
                        border-right: vh(1px) solid #2D2D2D;

                        .members, .opponent {
                            border-bottom: vh(1px) solid #2D2D2D;
                            padding: vh(28px) 0 0 vh(37px);
                        }

                        .opponent {
                            .teams-list {
                                opacity: 0.17;
                            }

                            &__text-hint {
                                @include font(Montserrat, 500, normal, vh(18px));
                                color: white;
                                margin-top: vh(62px);
                            }
                        }

                        .progress {
                            margin-top: vh(10px);

                            &-item {
                                width: vh(8px);
                                height: vh(8px);
                                border: vh(1px) solid rgba(white, 0.17);
                                margin-right: vh(3px);

                                &.active {
                                    background-color: #FD0225;
                                    box-shadow: 0 0 vh(50px) vh(5px) #FD0225;
                                }
                            }   
                        }

                        &-list {
                            margin-top: vh(23px);
                            
                            .player-tile {
                                @extend %content-center;
                                width: vh(51px);
                                height: vh(51px);
                                border: vh(1px) solid rgba(white, 0.17);
                                margin-right: vh(17px);
                                position: relative;

                                .cross {
                                    width: vh(14px);
                                    height: vh(14px);
                                    border-radius: 50%;
                                    background-color: black;
                                    position: absolute;
                                    z-index: 2;
                                    top: vh(-7px);
                                    right: vh(-7px);

                                    img {
                                        width: inherit;
                                        height: inherit;
                                    }
                                }

                                &__picture {
                                    &-icon {
                                        width: vh(49px);
                                        height: vh(49px);
                                        background: {
                                            position: center;
                                            repeat: no-repeat;
                                            size: cover;
                                        };
                                    }
                                }

                                .no-player {
                                    @include font(Montserrat, 500, normal, vh(18px));
                                    color: white;
                                }
                            }
                        }

                        .control-panel {
                            min-height: vh(43px);
                            margin-top: vh(63px);

                            &__input {
                                @include font(Montserrat, 500, italic, vh(12px));
                                width: vh(187px);
                                height: vh(43px);
                                border: vh(1px) solid rgba(white, 0.17);
                                min-height: inherit;
                                margin-right: vh(5px);
                                background-color: transparent;
                                border: vh(1px) solid rgba(white, 0.17);
                                text-align: center;
                                color: white;
                            }

                            &__button {
                                @include font(Montserrat, 500, normal, vh(13px));
                                @extend %content-center;
                                color: white;
                                width: vh(140px);
                                min-height: inherit;
                                cursor: pointer;

                                &.send {
                                    border: vh(1px) solid #FF0A0A;
                                    margin-right: vh(5px);
                                }

                                &.ready {
                                    border: vh(1px) solid #86FF68;
                                }
                            }
                        }

                        &__title {
                            @include font(Montserrat, 100, normal, vh(36px));
                            color: white;
                        }

                        &__text-amount {
                            @include font(Montserrat, 500, normal, vh(12px));
                            color: rgba(white, 0.27);
                            margin-top: vh(-4px);
                        }
                    }

                    .chat {
                        padding: vh(28px) 0 vh(35px) vh(55px);
                        position: relative;

                        &__title {
                            @include font(Montserrat, 100, normal, vh(36px));
                            color: white;
                        }

                        .messages {
                            @include scrollbar(0, transparent, transparent);
                            margin-top: vh(27px);
                            max-height: vh(400px);
                            overflow-x: hidden;
                            overflow-y: auto;

                            &__text {
                                @include font(Montserrat, 500, normal, vh(12px));
                                color: rgba(white, 0.27);
                                margin-bottom: vh(17px);

                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }
                        }

                        .message-input {
                            width: vh(521px);
                            position: absolute;
                            bottom: vh(35px);

                            &__input {
                                @include font(Montserrat, 900, italic, vh(12px));
                                width: inherit;
                                background-color: #0E0E0E;
                                min-height: vh(45px);
                                border: none;
                                padding: 0 vh(50px) 0 vh(20px);
                                color: white;
                            }

                            &__icon {
                                position: absolute;
                                right: vh(17px);
                                cursor: pointer;

                                img {
                                    width: vh(18px);
                                    height: vh(18px);
                                }
                            }
                        }
                    }
                }

                .control-buttons {
                    @extend %content-center;
                    min-height: vh(104px);
                    border-top: vh(1px) solid #2D2D2D;

                    .control-button {
                        @include font(Montserrat, 500, normal, vh(14px));
                        @extend %content-center;
                        min-height: vh(45px);
                        border: vh(1px) solid #FD0225;
                        width: vh(162px);
                        margin-left: vh(25px);
                        color: white;
                        opacity: 0.4;
                        transition: opacity ease .2s;
                        cursor: pointer;

                        &:hover {
                            opacity: 1;
                        }

                        &:first-child {
                            width: vh(180px);
                            margin-left: 0;
                        }

                        &__icon {
                            width: vh(21px);
                            height: vh(21px);
                            margin-right: vh(6px);
                        }
                    }
                }
            }

            .character-page {
                padding: vh(64px) 0 0 vh(43px);

                .character-item {
                    width: vh(288px);
                    height: vh(547px);
                    background-color: #121212;
                    position: relative;
                    margin-right: vh(24px);

                    &:last-child {
                        margin-right: 0;
                    }

                    .content {
                        position: absolute;
                        bottom: vh(36px);
                        left: vh(26px);

                        .cloth-info {
                            &__picture {
                                width: vh(65px);
                                height: vh(65px);
                                filter: grayscale(100%);
                            }

                            &__text {
                                @include font(Montserrat, 900, normal, vh(18px));
                                color: white;
                                width: vh(109px);
                                margin-left: vh(9px);
                            }
                        }

                        .select {
                            @include font(Montserrat, 500, normal, vh(12px));
                            @extend %content-center;
                            width: vh(122px);
                            height: vh(34px);
                            color: white;
                            border: vh(1px) solid rgba(#C4C4C4, 0.3);
                            cursor: pointer;
                        }
                    }

                    &:hover {
                        .character-item__picture, .cloth-info__picture {
                            filter: grayscale(0);
                        }

                        .select {
                            border-color: #FD0225;
                        }
                    }

                    .gradient {
                        @extend %absolute;
                        background-image: linear-gradient(to top, #0C0C0C 50%, transparent);
                    }

                    &__picture {
                        height: vh(278px);
                        filter: grayscale(100%);

                        background: {
                            size: cover;
                            position: center;
                            repeat: no-repeat;
                            image: url('/img/auth/character.png');
                        };
                    }
                }
            }

            .fraction-page {
                padding: vh(30px) 0 0 vh(43px);
                position: relative;

                .fraction-title {
                    margin-bottom: vh(35px);

                    span {
                        @include font(Montserrat, 500, normal, vh(24px));
                        
                        &:first-child {
                            color: white;
                        }

                        &:last-child {
                            color: #FD0225;
                            margin-left: vh(5px);
                        }
                    }
                }

                .fraction-item {
                    width: vh(288px);
                    height: vh(547px);
                    background-color: #121212;
                    position: relative;
                    margin-right: vh(24px);

                    &:last-child {
                        margin-right: 0;
                    }

                    .content {
                        position: absolute;
                        bottom: vh(36px);
                        left: vh(26px);

                        .fraction-info {
                            &__picture {
                                width: vh(65px);
                                height: vh(65px);
                                filter: grayscale(100%);
                            }

                            &__text {
                                @include font(Montserrat, 900, normal, vh(18px));
                                color: white;
                                width: vh(109px);
                                margin-left: vh(9px);
                            }
                        }

                        .select {
                            @include font(Montserrat, 500, normal, vh(12px));
                            @extend %content-center;
                            width: vh(122px);
                            height: vh(34px);
                            color: white;
                            border: vh(1px) solid rgba(#C4C4C4, 0.3);
                            cursor: pointer;
                        }
                    }

                    &:hover {
                        .fraction-item__picture, .fraction-info__picture {
                            filter: grayscale(0);
                        }

                        .select {
                            border-color: #FD0225;
                        }
                    }

                    .gradient {
                        @extend %absolute;
                        background-image: linear-gradient(to top, #0C0C0C 50%, transparent);
                    }

                    &__picture {
                        height: vh(385px);
                        filter: grayscale(100%);
                        margin-top: vh(10px);

                        background: {
                            size: contain;
                            position: center;
                            repeat: no-repeat;
                            image: url('/img/auth/fraction.png');
                        };
                    }
                }

                .back {
                    @extend %content-center;
                    @include font(Montserrat, 500, normal, vh(14px));
                    position: absolute;
                    bottom: vh(31px);
                    left: vh(47px);
                    border: vh(1px) solid #FD0225;
                    color: white;
                    width: vh(162px);
                    height: vh(45px);
                    cursor: pointer;
                }
            }

            .settings-page {
                padding: vh(29px) 0 0 vh(56px);

                .setting-page-button {
                    @include font(Montserrat, 500, normal, vh(14px));
                    @extend %content-center;
                    width: vh(243px);
                    height: vh(51px);
                    color: rgba(white, 0.17);
                    border: vh(1px) solid rgba(white, 0.17);
                    cursor: pointer;

                    &.selected {
                        background-color: #FD0225;
                        border-color: #FD0225;
                        color: white;
                    }

                    &:first-child {
                        margin-right: vh(19px);
                    }
                }

                .chat-page {
                    flex-wrap: wrap;
                    align-content: flex-start;
                    max-height: vh(320px);
                    margin-top: vh(55px);

                    .input-container {
                        margin-top: vh(25px);
                        margin-left: vh(54px);

                        &:first-child, &:nth-child(2), &:nth-child(3) {
                            margin-left: 0;
                        }

                        &__title {
                            @include font(Montserrat, 500, normal, vh(14px));
                            color: rgba(white, 0.31);
                            margin-bottom: vh(11px);
                        }

                        &__input {
                            @include font(Montserrat, 500, italic, vh(14px));
                            color: white;
                            min-height: vh(51px);
                            padding: 0 vh(15px);
                            background-color: transparent;
                            border: vh(1px) solid rgba(white, 0.14);
                        }

                        &__button {
                            @include font(Montserrat, 500, normal, vh(14px));
                            @extend %content-center;
                            color: white;
                            margin-left: vh(19px);
                            border: vh(1px) solid #FF0A0A;
                            width: vh(160px);
                            min-height: vh(51px);
                            cursor: pointer;
                        }
                    }

                    .reset {
                        margin-left: vh(54px);
                        margin-top: vh(20px);
                        width: vh(280px);

                        &__title {
                            @include font(Montserrat, 500, normal, vh(14px));
                            color: white;
                            margin-bottom: vh(11px);
                        }

                        &__button {
                            @include font(Montserrat, 500, normal, vh(14px));
                            @extend %content-center;
                            color: white;
                            border: vh(1px) solid #FF0A0A;
                            min-height: vh(51px);
                            margin-top: vh(11px);
                            cursor: pointer;
                        }
                    }
                }
            }

            .duels-page {
                padding: vh(26px) 0 0 vh(56px);
                width: vh(1077px);

                .invite-opponent {
                    .invite-block {
                        @include font(Montserrat, 500, normal, vh(18px));
                        @extend %content-center;
                        width: vh(51px);
                        height: vh(51px);
                        border: vh(1px) solid rgba(white, 0.17);
                        color: white;
                        cursor: pointer;
                    }

                    &__text {
                        @include font(Montserrat, 500, normal, vh(14px));
                        margin-left: vh(9px);
                        color: rgba(white, 0.29);
                        width: vh(89px);
                    }
                }

                .choose-weapon {
                    @include font(Montserrat, 500, normal, vh(14px));
                    width: vh(76px);
                    color: rgba(white, 0.29);
                }

                .lobbies {
                    @include scrollbar(vh(4px), #2D2D2D, #FD0225);
                    overflow-y: hidden;
                    overflow-x: auto;
                    width: vh(1213px);
                    margin-top: vh(31px);
                    padding-bottom: vh(56px);

                    .list {
                        min-width: vh(1213px);
                        flex-wrap: wrap;
                        align-content: flex-start;
                        margin-right: vh(29px);

                        &:last-child {
                            margin-right: 0;
                        }
                    }

                    .item {
                        $width: 384px;
                        $heght: 110px;
                        opacity: 0.5;
                        transition: opacity ease .2s;
                        margin-right: vh(29px);
                        margin-top: vh(18px);
                        
                        &:nth-child(3n) {
                            margin-right: 0;
                        }

                        &:first-child, &:nth-child(2), &:nth-child(3) {
                            margin-top: 0;
                        }

                        &:hover {
                            opacity: 1;

                            .gradient {
                                opacity: 0;
                            }

                            .item-content__picture {
                                filter: grayscale(0);
                            }
                        }

                        @extend %content-center;
                        width: vh($width);
                        height: vh($heght);
                        background-image: linear-gradient(to right top, rgba(#FD0225, 0.5), transparent 60%);

                        .item-content {
                            width: vh($width - 2.5px);
                            height: vh($heght - 2px);
                            background-color: #121212;
                            position: relative;

                            .gradient {
                                width: vh(146px);
                                position: absolute;
                                right: 0;
                                background-image: linear-gradient(to right, transparent, #780011 120%);
                                transition: opacity ease .2s;
                            }

                            .play {
                                position: absolute;
                                right: vh(26px);
                                z-index: 2;
                                width: vh(42px);
                                height: vh(47px);
                                opacity: 0.14;
                                transition: opacity ease .2s;
                                cursor: pointer;

                                &:hover {
                                    opacity: 1;
                                }

                                img {
                                    width: inherit;
                                    height: inherit;
                                }
                            }

                            &__picture {
                                filter: grayscale(100%);
                                width: vh(136px);
                                height: vh(108px);
                                background: {
                                    size: cover;
                                    position: center;
                                    repeat: no-repeat;
                                }
                            }

                            .main-content {
                                margin-left: vh(16px);

                                &__title {
                                    @include font(Montserrat, 900, normal, vh(14px));
                                    color: white;
                                }

                                &__picture {
                                    height: vh(16px);
                                    width: vh(32px);
                                    margin-bottom: vh(15px);
                                    margin-top: vh(3px);
                                }

                                &__text {
                                    @include font(Montserrat, 900, normal, vh(11px));
                                    color: rgba(white, 0.23);

                                    &:last-child {
                                        margin-top: vh(3px);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .shop-page {
                padding: vh(17px) 0 0 vh(55px);

                .shop-header {
                    .categories {
                        border-bottom: vh(1px) solid #181818;

                        &__button {
                            @include font(Montserrat, 500, normal, vh(14px));
                            @extend %content-center;
                            color: white;
                            width: vh(272px);
                            cursor: pointer;

                            &.selected {
                                background-image: linear-gradient(to bottom, transparent, rgba(#FD0225, 0.3));
                            }
                        }
                    }

                    .filter {
                        margin-left: vh(57px);
                    }
                }

                .shop-items {
                    @include scrollbar(vh(3px), rgba(white, 0.17), #FD0225);
                    width: vh(1115px);
                    flex-wrap: wrap;
                    margin-top: vh(46px);
                    max-height: vh(570px);
                    overflow-y: auto;

                    .shop-item {
                        width: vh(324px);
                        height: vh(197px);
                        border: vh(1px) solid rgba(white, 0.17);
                        margin-right: vh(49px);
                        margin-top: vh(46px);

                        &:nth-child(3n) {
                            margin-right: 0;
                        }

                        &:first-child, &:nth-child(2), &:nth-child(3) {
                            margin-top: 0;
                        }

                        &:hover {
                            border-color: #FD0225;

                            .coin-icon__picture {
                                opacity: 1;
                            }
                        }

                        .coin-icon {
                            @extend %content-center;
                            min-width: vh(196px);
                            border-right: vh(1px) solid rgba(#C4C4C4, 0.17);

                            &__picture {
                                width: vh(93px);
                                height: vh(93px);
                                opacity: 0.12;
                            }
                        }

                        .content {
                            position: relative;
                            padding: vh(20px) vh(13px) 0 0;

                            &__title {
                                @include font(Montserrat, 500, normal, vh(18px));
                                color: white;
                            }

                            &__text-category {
                                @include font(Montserrat, 500, normal, vh(12px));
                                color: rgba(white, 0.19);
                            }

                            .buy-info {
                                position: absolute;
                                bottom: vh(13.31px);
                                right: vh(13px);

                                &__text {
                                    @include font(Montserrat, 500, normal, vh(12px));
                                    color: white;
                                }

                                &__button {
                                    @include font(Montserrat, 500, normal, vh(10px));
                                    @extend %content-center;
                                    color: white;
                                    border: vh(1px) solid #FF0A0A;
                                    margin-top: vh(10px);
                                    cursor: pointer;
                                    width: vh(90px);
                                    height: vh(28.69px);
                                }
                            }
                        }
                    }
                }
            }

            .filter {
                position: relative;

                &__input {
                    @include font(Montserrat, 500, normal, vh(12px));
                    width: vh(243px);
                    height: vh(51px);
                    padding: 0 vh(50px) 0 vh(16px);
                    background-color: transparent;
                    color: white;
                    border: vh(1px) solid rgba(white, 0.17);
                }

                &__picture {
                    width: vh(18px);
                    height: vh(18px);
                    position: absolute;
                    right: vh(17px);
                }
            }

            .certain-shop-item {
                @extend %content-center;
                position: relative;

                .back {
                    @extend %content-center;
                    position: absolute;
                    top: vh(24px);
                    left: vh(55px);
                    border: vh(1px) solid rgba(white, 0.17);
                    width: vh(201px);
                    height: vh(51px);
                    cursor: pointer;

                    &__picture {
                        width: vh(13.33px);
                        height: vh(8.88px);
                    }

                    &__title {
                        @include font(Montserrat, 500, normal, vh(14px));
                        margin-left: vh(16.67px);
                        color: rgba(white, 0.17);
                    }
                }

                &__picture {
                    width: vh(280px);
                    height: vh(280px);
                }

                .donate-item-content {
                    margin-left: vh(28px);

                    &__title {
                        @include font(Montserrat, 500, normal, vh(18px));
                        color: white;
                    }

                    &__text {
                        @include font(Montserrat, 500, normal, vh(13px));
                        color: rgba(white, 0.24);
                        text-align: right;
                        width: vh(334px);
                        margin-top: vh(24px);
                    }

                    .price {
                        margin-top: vh(49px);

                        &__text {
                            &-price {
                                @include font(Montserrat, 500, normal, vh(24px));
                                color: #FD0225;
                            }

                            &-unit {
                                @include font(Montserrat, 500, normal, vh(24px));
                                color: white;
                                margin-left: vh(4px);
                            }
                        }
                    }

                    .buy-button {
                        @include font(Montserrat, 500, normal, vh(14px));
                        @extend %content-center;
                        margin-top: vh(22px);
                        color: white;
                        border: vh(1px) solid #FF0A0A;
                        width: vh(160px);
                        height: vh(51px);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}