<template>
 <div class="item-container">
    <div
    class="item-container__picture full-width"
    :style="{ 'background-image': `url(/img/auth/news/${ item.picture }.png)` }"></div>

    <div class="container-header row-block full-width justify-between">
        <div class="column-block">
            <span class="container-header__title">{{ item.title }}</span>

            <div class="post-date row-block align-center">
                <div class="post-date__figure"></div>
                <span class="post-date__text">{{ item.date }}</span>
            </div>
        </div>

        <div class="container-header__button">Читать</div>
    </div>

    <div class="item-container-text full-width">{{ item.text }}</div>
</div>
</template>

<style lang="scss" scoped>
@import '@/assets/styles/mixins/main';
@import "@/assets/styles/templates";
@import "@/assets/styles/animation";

.item-container {
width: vh(353px);
margin-right: vh(12px);

&:nth-child(2n) {
    margin-right: 0;
}

&__picture {
    height: vh(197px);
    background: {
        position: center;
        repeat: no-repeat;
        size: cover;
    };
}

.container-header {
    margin-top: vh(12px);

    &__title {
        @include font(Montserrat, 900, normal, vh(14px));
        color: white;
    }

    &__button {
        @include font(Montserrat, 500, normal, vh(10px));
        @extend %content-center;
        color: white;
        width: vh(82px);
        min-height: vh(27px);
        border-radius: vh(18px);
        border: vh(2px) solid #FD0225;
        cursor: pointer;
    }

    .post-date {
        margin-top: vh(2px);

        &__figure {
            width: vh(3px);
            height: vh(3px);
            border-radius: 50%;
            background-color: #FD0225;
        }

        &__text {
            @include font(Montserrat, 500, normal, vh(10px));
            color: rgba(white, 0.14);
            margin-left: vh(4px);
        }
    }
}

.item-container-text {
    @include font(Montserrat, 500, normal, vh(9px));
    margin-top: vh(12px);
    mask-image: linear-gradient(to bottom, black, transparent 90%);
    color: rgba(white, 0.3);
    line-height: vh(20px);
}
}
</style>

<script>
export default {
  name: 'news-card',
  props: ['item'],
};
</script>
