@import "../animation";

@mixin font($name: auto, $weight: auto, $style: auto, $size: auto) {
    font: {
        family: $name, sans-serif;
        weight: $weight;
        style: $style;
        size: $size;
    }
}

@mixin scrollbar($size, $scrollbar-color, $background-color) {
    &::-webkit-scrollbar {
        width: $size;
        height: $size;
        background-color: $scrollbar-color;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $background-color;
    }
}

@mixin local-fade($duration, $class-name) {
    .#{$class-name} {
        &-enter, &-leave-to {
            opacity: 0;
        }

        &-enter-active, &-leave-active {
            transition: opacity $duration;
        }
    }
}

@mixin slide-vertical($duration, $class-name, $timing-function) {
    .#{$class-name}-enter-active {
        animation: slide-up $duration $timing-function;
    }

    .#{$class-name}-leave-active {
        animation: slide-down $duration $timing-function;
    }
}

@mixin capture-height($height) {
    height: $height;
    max-height: $height;
    min-height: $height;
}

@mixin capture-width($width) {
    width: $width;
    max-width: $width;
    min-width: $width;
}

@mixin transition-bounceIn($duration, $class-name) {
     .#{$class-name}-enter-active {
        animation: bounce-in-transition ease #{$duration};
      }

     .#{$class-name}-leave-active {
        animation: bounce-in-transition ease #{$duration} reverse;
      }
}


@function vw($size) {
    @return $size / (1920 * 0.01 * 1px) * 1vw;
}

@function vh($size) {
    @return $size / (1080 * 0.01 * 1px) * 1vh;
}