@mixin media-query($resolution-x, $resolution-y) {
    @if $resolution-x != 0 {
        @media screen and (max-width: #{$resolution-x}) {
            @content
        }
    }
    
    @else if $resolution-y != 0 {
        @media screen and (max-height: #{$resolution-y}) {
            @content
        }
    }
};


@mixin media-min-query($resolution-x) {
    @if $resolution-x != 0 {
        @media screen and (min-width: #{$resolution-x}) {
            @content
        }
    }
}