<template>
    <router-view v-slot="{ Component }">
        <transition name="local-fade" mode="out-in">
            <component :is="Component" />
        </transition>
    </router-view>

    <invitation />
</template>

<style lang="scss">
    @import '@/assets/styles/mixins/main';
    @import "@/assets/styles/templates";
    @import "@/assets/styles/animation";

    @include local-fade(.2s, local-fade);
</style>

<script>
import Invitation from './pages/main/invitation.vue';

export default {
  name: 'App',
  components: { Invitation },
};
</script>
