.fade {
    &-enter, &-leave-to {
        opacity: 0;
    }

    &-enter-active, &-leave-active {
        transition: opacity .5s;
    }
}

@keyframes bounce-in-transition {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}