@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-SemiBold.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Bold.ttf");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-BoldItalic.ttf");
    font-weight: 900;
    font-style: italic;
}


@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-SemiBoldItalic.ttf");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Light.ttf");
    font-weight: 100;
    font-style: italic;
}