@import "fonts";
@import "/mixins/main";
@import "/templates";

*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    line-height: normal;
    outline: none;

    input, textarea {
        outline: none;
        resize: none;
    }   
}

html, body {
    width: 100%;
    height: 100%;
}

html {
    overflow: hidden;
}

body {
    margin: 0;
    background: transparent;
    user-select: none;
    overflow: inherit;
}

img {
    pointer-events: none;
}

input {
    outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    appearance: none !important;
    margin: 0 !important;
}
