%content-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%absolute {
    position: absolute;
    left: 0;
    top: 0;
}


//flex-blocks
.row-block {
    display: flex;
    flex-direction: row;
}

.column-block {
  display: flex;
  flex-direction: column;
}

.flex-block {
    display: flex;
}


//justify

.justify-start {
    display: flex;
    justify-content: flex-start;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.justify-between {
    display: flex;
    justify-content: space-between;
}

.justify-end {
    display: flex;
    justify-content: flex-end;
}


//align

.align-start {
    display: flex;
    align-content: flex-start;
}

.align-center {
    display: flex;
    align-items: center;
}

.align-end {
    display: flex;
    align-items: flex-end;
}


.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}


.picture-handler {
    display: flex;
    cursor: pointer;
}

.debug {
    border: 1px solid red;
}